* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
}

input {
    color: #000;
}

hr {
    width: 80%;
    margin: 10px;
}

h1 {
    margin: 20px;
}

#contenido-principal {
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
}

#agregar-tarea #formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#formulario input {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 33%;
}

#boton-agregar {
    background-color: #21cc71;
    border: none;
}

#boton-agregar:hover {
    cursor: pointer;
    background-color: #27ae60;
    color: #fff;
}

#advertencia {
    padding: 10px;
    margin: 10px;
    display: none;
}

#tareas {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#tareas .tarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.tarea h2 {
    margin: 10px;
}

.tarea article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tarea article p, input {
    padding: 10px;
}

.boton-borrar {
    background-color: #e74c3c;
    border-radius: 4px;
    color: #fff;
    border: none;
}

.boton-borrar:hover {
    cursor: pointer;
    background-color: #c0392b;
}

#pop-up {
    display: none;
    position: absolute;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    bottom: 20px;
    right: 20px;
}

#pop-up #texto-pop-up {
    display: inline;
    padding: 5px;
    margin: 5px;
}

#pop-up #cerrar-pop-up {
    display: inline;
    padding: 5px;
    margin: 5px;
    color: #fff;
    background-color: #745ec5;
    border-radius: 4px;
    border: none;
}

#pop-up #cerrar-pop-up:hover {
    cursor: pointer;
    background-color: #5b48a2;
}

